version: "3.9"


services:

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  backend:
    build: 
      context: .
      dockerfile: ./docker/backend/Dockerfile
    restart: always
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    expose: 
      - 8000
    ports:
      - 8000:8000
    depends_on:
      - redis
  rq-worker:
    build: 
      context: .
      dockerfile: ./docker/rq-worker/Dockerfile
    restart: always
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - BACKEND_HOST=backend
    depends_on:
      - redis
      - backend

  flojoy-watch:
    build: 
      context: .
      dockerfile: ./docker/flojoy-watch/Dockerfile
    restart: always
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - BACKEND_HOST=backend
    depends_on:
      - redis
      - backend


