.App-controls-panel {
    height: 100vh; 
}

.App-controls-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: auto;
  align-content: flex-start; 
}

.ctrl-output {
  flex: 0 0 auto;
}

.ctrl-output, .ctrl-input {
  padding: 0;
  border: 0.5px solid #ccc;
  border-radius: 3px;
  position: relative;
  resize: both;
  cursor: pointer;
  /* -webkit-user-drag: element; */
  /* margin-top: 10px; */
}

.ctrl-output {
  margin: 20px 0 0 20px;
  min-height: 300px;
  height: 25%;
  width: 45%;
}

.ctrl-input {
  min-height: 150px;
  width: 100%;
 
}
.ctrl-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.ctrl-input-group {
  display:flex;
  gap:5px;
  flex-direction:column;
  padding-left:5px;
  padding-right:5px;
}
.ctrl-edit-btn {
  cursor: pointer;
}
.ctrl-close-btn {
  margin: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: transparent;
  z-index: 99;
}

.ctrl-input-body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  height:90%;
  flex-wrap: wrap;
}

.ctrl-param {
  margin: 0;
  font-size: 15px;
}

.ctrl-close-btn:hover{
  color: red !important;
}

.ctrl-meta {
  font-size: 10px;
  text-align: left;
  position: absolute;
  bottom: 10px;
}

.input-header, .output-header {
  padding: 10px;
  display: inline-block;
}

.ctrl-inputs-sidebar, .input-header {
  min-width: 200px;
  max-width: 400px;
  width: 25%;  border-right: 1px solid #ccc;
  display: inline-block;
}

.ctrl-inputs-sidebar {
  height: 100%;
  padding: 10px;
}

.ctrl-outputs-canvas {
  display: flex;
  background-size: .75em .75em;  
  background-position: 0 -0.5em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: auto;
  align-content: flex-start;
  min-height: 800px;
}

.ctrl-outputs-container, .output-header {
  display: inline-block;
  width: 75%;
}
.ctrl-outputs-container {
  vertical-align: top;
  height: 100%;
}

.ctrl-picker-container {
  margin-top: 20px;
}

.ctrl-numeric-input {
  padding: 10px;
  width: 90%;
  margin: 0 10px;
  background-color: transparent;
  outline: none;
  border:'1px solid'
  ; border-radius: 10px;
}

.select-node {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  border-bottom: 0.5px solid;
  margin-bottom: 10px;
  padding-right: 20px;
}

.select-plot-type {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  border-bottom: 0.5px solid;
  margin-bottom: 10px;
  padding-right: 20px;
}

.ctrl-input label {
  margin-left: 10px;

}