.default_node_container {
  position: relative;
  /* height: 105px; */
  width: fit-content;
  min-width: 150px;
  font-weight: 600;
  /* border-radius: 6px; */
  display: flex;
  flex-direction: column;
  font-size: 17px;
  height: fit-content;
  min-height: 115px;
}