.simulation__node__container {
  position: relative;
  width: 222px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  height: fit-content;
  min-height: 115px;
}