.App-results-panel {
    text-align: center;
    overflow-wrap: break-word;
    margin: auto;
    max-width: 600px;
    min-width: 400px;
    overflow-x: hidden;
    height: 100vh;
    padding: 0 10px;
  }

  .App-results-panel h1 {
    margin: 40px 0;
  }

  .App-results-panel summary {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    outline: none !important;
  }

  .App-results-panel details {
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 40px;
  }

  .App-results-panel .js-plotly-plot {
    height: 300px;
    width: 450px;
  }
