.kbs__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 43px;
  height: 100%;
  width: 100%;
  padding: 24px;
}
.kbs__close__btn {
  position: absolute;
  right: 10px;
  color: rgb(153, 245, 255);
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  top: 15px;
}
.kbs__container.dark {
  background-color: #18191a;
}
.kbs__col {
  width: 100%;
}
.kbs__list.light {
  border: 1px solid #e3e3e3;
}
.kbs__list.dark {
  background-color: #242526;
  color: #e4e6eb;
  border: 1px solid #2c2323;
}
.kbs__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 100%;
}
.kbs__list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.kbs__cmd__key {
  color: #3d7ff2;
}
.kbs__title {
  font-size: 24;
  font-weight: bold;
  font-family: Inter;
  margin-bottom: 10px;
}
.kbs__platform__name {
  color: #3d7ff2;
}
