.dropdown__wrapper {
  position: relative;
}
.dropdown__wrapper:hover .dropdown__container {
  display: flex;
  transform: translateY(0);
  opacity: 1;
  z-index: 50;
}
.dropdown__container {
  transition: all ease 0.7s;
  flex-direction: column;
  position: absolute;
  top: 52px;
  right: 0;
  padding: 8px 0;
  width: fit-content;
  align-items: flex-start;
  z-index: -1;
  transform: translateY(-10%);
  opacity: 0;
}
.dropdown__container > button {
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 2;
  font-size: 14px;
  text-decoration: none;
  background: transparent;
  border: none;
  width: 100%;
  text-align: start;
  white-space: nowrap;
}
.dropdown__container.dark > button {
  color: #94f4fc;
}
.dropdown__container.light > button {
  color: #000;
}
.dropdown__container.light > button:hover {
  background-color: #d9d9d9;
}
.dropdown__container > button:hover {
  background-color: #94f4fc;
  color: black;
}
.dropdown__container.light {
  border: 1px solid #dadada;
  background-color: #fff;
}
.dropdown__container.dark {
  background: #243438;
  border: 0;
}
