---
import { Icon } from "@astrojs/starlight/components";
---
<a
  href="https://docs.flojoy.ai/studio/installation/"
  target="_blank"
  class="not-content bg-accent-600 dark:bg-accent-200 group flex items-center justify-center gap-2 rounded-lg p-2 no-underline transition duration-300 !text-gray-200 dark:!text-gray-800"
>
  <Icon name="right-arrow" size="1.5rem" class="not-content" />
  <div class="text-sm font-bold not-content">Download Flojoy Studio to try this app</div>
</a>
<div class="py-2"></div>
