<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flojoy socket event</title>
</head>
<body>
    <h1>Flojoy</h1>
    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`;

        const jobSocket = new WebSocket(url);

        jobSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            console.log('Data:', data);
        }
    </script>
</body>
</html>