/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors. */
:root {
  --color-accent1: 153 245 255;
  --color-accent1-hover: 212 251 255;
  --color-accent2: 123 97 255;
  --color-accent3: 255 201 63;
  --color-accent4: 240 95 168;
  --controls: 0 0% 15%;
  --controls-hover: 0 0% 20%;
  --controls-border: 0 0% 40%;
  --foreground: 210 40% 98%;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --color-accent1: 123 97 255;
  --color-accent1-hover: 175 159 255;
  --color-accent2: 46 131 255;
  --color-accent3: 255 169 39;
  --color-accent4: 240 95 168;
  --controls: 0 0% 100%;
  --controls-hover: 0 0% 90%;
  --controls-border: 0 0% 80%;
  --foreground: 222.2 84% 4.9%;
}
