.App {
  text-align: left;
}

.App-status {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.App-header {
  min-height: 2vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  border-bottom: 1px solid #00000024;
}

/* .App-header h1 {
    font-size: calc(12px + 1vmin);
  } */

.App-brand {
  padding-left: 8px;
  padding-right: 8px;
}

.App-theme-toggle {
  /* position: absolute !important;
    right: 10px !important; */
  font-size: 18px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.App-select {
  width: 120px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  z-index: 99;
}

.App-tabs {
  gap: 16px;
  height: 100%;
  align-items: center;
}

.App-control-buttons {
  justify-content: flex-end;
}

.App-tabs button {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
}

.App-tabs button.active-light {
  border-bottom: 1px solid rgb(14, 14, 231);
}

.App-tabs button.active-dark {
  border-bottom: 1px solid #99f5ff;
}

.save__controls {
  padding: 10px;
  /* border-bottom: 1px solid #282c34; */
  display: flex;
  align-items: center;
  gap: 16px;
}

.save__controls_button {
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 2;
  font-size: 14px;
  text-decoration: none;
  background: transparent;
  color: white;
  border: none;
}

.btn__add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn__cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 33px;
  width: 85px;
  cursor: pointer;
  color: red;
  border: 1px solid rgb(255 153 177);
  background-color: rgb(255 158 153 / 20%);
  transition: transform ease-in 0.1s;
}
.btn__cancel:hover {
  background-color: rgba(245, 33, 33, 0.697);
  color: #e6e6e6;
}
.btn__cancel:hover > svg > g {
  fill: white;
}
.btn__cancel:active {
  transform: scale(0.8);
}

/* Vector */
.btn__file {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* .ReactModal__Content button {
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 2;
  /* font-size: 14px; */
/* } */

.switch_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flex {
  display: flex;
  width: 100%;
}
.react-flow__node {
  background: transparent !important;
  border: none !important;
}
.react-flow__node-default {
  width: fit-content;
  padding: 0px;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  font-weight: 600;
  /* border-radius: 17px; */
  /* background-color: #99f5ff4f; */
  /* border: 1px solid #99F5FF; */
  /* color: #99F5FF; */
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-color: transparent !important;
}

.react-flow__edge-path {
  stroke-width: 1.5;
}

.react-tabs__tab {
  border: 0;
}

.react-tabs__tab-list {
  margin: 0;
  padding-left: 10px;
  /* border-bottom: 1px solid #282c34; */
  border-bottom: 1px solid rgb(47, 46, 46) !important;
  padding-bottom: 16px !important;
}

.react-tabs__tab--selected {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid rgb(153, 245, 255) !important;
}

.btn-tab {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  height: 24;
  cursor: pointer;
  min-width: fit-content;
}
.tab-panel {
  height: 70px;
  width: auto;
}
.tab-panel:hover::-webkit-scrollbar{
  display: block;
}

.tab-panel::-webkit-scrollbar {
  width: 1em;
  height: 8px;
  display: none;
}
 
.tab-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.tab-panel::-webkit-scrollbar-thumb {
  background-color: #94f4fc;
  outline: 1px solid slategrey;
  cursor: pointer;
}

.ReactModal__Content:hover::-webkit-scrollbar{
  display: block;
}

.ReactModal__Content::-webkit-scrollbar {
  width: 5px;
  display: none;
}
 
.ReactModal__Content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.ReactModal__Content::-webkit-scrollbar-thumb {
  background-color: #94f4fc;
  outline: 1px solid slategrey;
  cursor: pointer;
}

.tab-panel button {
  color: rgba(140, 150, 153, 1);
}

.close-modal {
  position: absolute;
  right: 10px;
  color: rgb(153, 245, 255);
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@font-face {
  font-family: "PonyMaker";
  src: url("PonyMaker.woff2") format("woff2"),
    url("PonyMaker.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "PonyMaker";
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

pre {
  font-size: 14px;
}

div {
  scrollbar-width: none;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

button.knob {
  position: relative;
  font-size: 1.5rem;
}
button.metal {
  font-weight: 400;
  text-shadow: rgba(102, 102, 102, 0.5) 0 -1px 0,
    rgba(255, 255, 255, 0.6) 0 2px 1px;
  padding: 0 0;
  line-height: 150px;
  height: 150px;
  width: 150px;
  text-align: center;
  border: none;
  background: #aaa;
  box-shadow: inset #262626 0 0px 0px 4px,
    inset rgba(38, 38, 38, 0.8) 0 -1px 5px 4px,
    inset rgba(0, 0, 0, 0.25) 0 -1px 0px 7px,
    inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px,
    rgba(0, 0, 0, 0.15) 0 -5px 6px 4px, rgba(255, 255, 255, 0.5) 0 5px 6px 4px;
}
button.radial {
  border-radius: 150px;
}
button.radial:before,
button.radial:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: inherit;
  content: "";
  display: block;
  transform: rotate(65deg);
  opacity: 0.5;
  z-index: 1;
  background-image: -webkit-radial-gradient(
      50% 0%,
      10% 50%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%);
}
button.radial:after {
  transform: rotate(-65deg);
  background-image: -webkit-radial-gradient(
      50% 0%,
      10% 50%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%);
}

button.radial {
  background-image: -webkit-radial-gradient(
      50% 0%,
      8% 50%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(
            255,
            255,
            255,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(
            255,
            255,
            255,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(
            255,
            255,
            255,
            0
          )
          100%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(
            0,
            0,
            0,
            0
          )
          3%, rgba(0, 0, 0, 0.1) 3.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0)
          0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0)
          0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%),
    -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999
          100%);
}
