.App {
    text-align: left;
  }
  
  .App-status {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
    color: white;
    background: black;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 2vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(12px + 1vmin);
    color: white;
    padding: 10px;
  }

  .App-theme-toggle {
    position: absolute !important;
    right: 10px !important;
    font-size: 18px;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  .App-results-pane {
    height: '100vh';
    padding: 10;
    margin: '10px 200px';
  }
  
.save__controls {
  padding: 10px;
  border-bottom: 1px solid;
}

.save__controls a, .ReactModal__Content button {
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 2;
  font-size: 14px;
}

.react-flow__node-default {
  width: 100px;
  padding: 0;
}

.react-flow__edge-path {
  stroke-width: 1.5;
}

.react-tabs__tab {
  border: 0;
}

.react-tabs__tab--selected {
  border: 0;
  border-radius: 0;
  border-bottom: 5px solid #282c34;
}

@font-face {
  font-family: 'PonyMaker';
  src: url('PonyMaker.woff2') format('woff2'),
      url('PonyMaker.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'PonyMaker';
  font-weight: normal;
  font-style: normal;
  margin: 0;
}