.react-tabs__tab {
  border: 0;
}

.react-tabs__tab-list {
  margin: 0;
  padding-left: 10px;
  /* border-bottom: 1px solid #282c34; */
  border-bottom: 1px solid rgb(47, 46, 46) !important;
  padding-bottom: 16px !important;
}

.react-tabs__tab--selected {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid rgb(153, 245, 255) !important;
}

.btn-tab {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  height: 24;
  cursor: pointer;
  min-width: fit-content;
}
.tab-panel {
  height: 70px;
  width: auto;
}
.tab-panel:hover::-webkit-scrollbar {
  display: block;
}

.tab-panel::-webkit-scrollbar {
  width: 1em;
  height: 8px;
  display: none;
}

.tab-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tab-panel::-webkit-scrollbar-thumb {
  background-color: #94f4fc;
  outline: 1px solid slategrey;
  cursor: pointer;
}

.ReactModal__Content::-webkit-scrollbar {
  width: 5px;
}
.ReactModal__Content:hover::-webkit-scrollbar-track {
  box-shadow: 0;
}
.ReactModal__Content:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.ReactModal__Content::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

.ReactModal__Content:hover::-webkit-scrollbar-thumb {
  background-color: #94f4fc;
  outline: 1px solid slategrey;
  cursor: pointer;
}

.tab-panel button {
  color: rgba(140, 150, 153, 1);
}

.close-modal {
  position: absolute;
  right: 10px;
  color: rgb(153, 245, 255);
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

div {
  scrollbar-width: none;
}

button.knob {
  position: relative;
  font-size: 1.5rem;
}
button.metal {
  font-weight: 400;
  text-shadow: rgba(102, 102, 102, 0.5) 0 -1px 0,
    rgba(255, 255, 255, 0.6) 0 2px 1px;
  padding: 0 0;
  line-height: 150px;
  height: 150px;
  width: 150px;
  text-align: center;
  border: none;
  background: #aaa;
  box-shadow: inset #262626 0 0px 0px 4px,
    inset rgba(38, 38, 38, 0.8) 0 -1px 5px 4px,
    inset rgba(0, 0, 0, 0.25) 0 -1px 0px 7px,
    inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px,
    rgba(0, 0, 0, 0.15) 0 -5px 6px 4px, rgba(255, 255, 255, 0.5) 0 5px 6px 4px;
}
button.radial {
  border-radius: 150px;
}
button.radial:before,
button.radial:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: inherit;
  content: "";
  display: block;
  transform: rotate(65deg);
  opacity: 0.5;
  z-index: 1;
  background-image: -webkit-radial-gradient(
      50% 0%,
      10% 50%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%);
}
button.radial:after {
  transform: rotate(-65deg);
  background-image: -webkit-radial-gradient(
      50% 0%,
      10% 50%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(
            0,
            0,
            0,
            0
          )
          100%);
}

button.radial {
  background-image: -webkit-radial-gradient(
      50% 0%,
      8% 50%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(
            255,
            255,
            255,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(
            255,
            255,
            255,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(
            255,
            255,
            255,
            0
          )
          100%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(
            0,
            0,
            0,
            0
          )
          3%, rgba(0, 0, 0, 0.1) 3.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0)
          0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0)
          0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%),
    -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999
          100%);
}
