---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Sidebar.astro";
import { Icon } from "@astrojs/starlight/components";
---

<div class="flex flex-col gap-2">
  <a
    href="https://discord.gg/7HEBr7yG8c"
    target="_blank"
    class="hover:bg-accent-200/30 hover:dark:bg-accent-200/10 text-accent-600 dark:text-accent-200 group flex items-center justify-center gap-2 rounded-lg border-2 border-gray-200 p-2 no-underline transition duration-300 dark:border-gray-600"
  >
    <Icon name="discord" size="1.5rem" class="" />
    <div class="text-sm">Join our Discord community!</div>
  </a>
  <Default {...Astro.props}>
    <slot />
  </Default>
</div>
