---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Sidebar.astro'
import { Icon } from '@astrojs/starlight/components';
---

<div class="flex flex-col gap-2">
  <a href="https://discord.gg/7HEBr7yG8c" target="_blank" class="justify-center hover:bg-accent-200/30 hover:dark:bg-accent-200/10 text-accent-600 dark:text-accent-200 flex items-center gap-2 border-2 border-gray-200 dark:border-gray-600 group transition duration-300 rounded-lg p-2 no-underline">
    <Icon name="discord" size="1.5rem" class="" />
    <div class="text-sm">Join our Discord community!</div>
  </a>
  <Default {...Astro.props}>
    <slot />
  </Default>
</div>
