.btn-tab {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  height: 24;
  cursor: pointer;
  min-width: fit-content;
}
.tab-panel {
  height: 70px;
  width: auto;
}
.tab-panel:hover::-webkit-scrollbar {
  display: block;
}

.tab-panel::-webkit-scrollbar {
  width: 1em;
  height: 8px;
  display: none;
}

.tab-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tab-panel::-webkit-scrollbar-thumb {
  background-color: #94f4fc;
  outline: 1px solid slategrey;
  cursor: pointer;
}

.ReactModal__Content::-webkit-scrollbar {
  width: 5px;
}
.ReactModal__Content:hover::-webkit-scrollbar-track {
  box-shadow: 0;
}
.ReactModal__Content:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.ReactModal__Content::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

.ReactModal__Content:hover::-webkit-scrollbar-thumb {
  background-color: #94f4fc;
  outline: 1px solid slategrey;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  right: 10px;
  color: rgb(153, 245, 255);
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

div {
  scrollbar-width: none;
}

[data-sonner-toast] {
  overflow-wrap: anywhere;
}

/* Some styles to get Electron happy */
/* https://stackoverflow.com/a/71188844 */

.titlebar {
  -webkit-app-region: drag; /* Allow user to drag the window using this titlebar */
  -webkit-user-select: none; /* Prevent user from selecting things */
  user-select: none;
}

body {
  overflow: hidden; /* Make the HTML body be non-scrollable */
}

.fade {
  animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
